@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

:root {
    --gradient: radial-gradient(ellipse 175rem 50rem at top left, #ffa39b -250%, #1c1e24 100%);
    --btn-background: #5865F2;
    --btn-background-hover: #5865f2c5;
}

* {
    box-sizing: border-box;
}

html {
    font-family: 'JetBrains Mono', sans-serif;
    background: #1c1e24;
    background-image: var(--gradient);
    background-size: 400%;
    background-attachment: fixed;
    animation: bg-animation 3.2s ease;
}

@keyframes bg-animation {
    0% {
        background-position: top right;
    }
    100% {
        background-position: bottom left;
    }
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    color: #fff;
}

main {
    text-align: center;
    font-size: 1.15rem;
    height: 85vh;
    display: flex;
    justify-content: center;
}

.container {
    margin: auto;
}

.pfp {
    display: block;
    width: 18rem;
    height: 18rem;
    margin-bottom: 2rem;
    border-radius: 100%;
}

a.button {
    width: 18rem;
}

a {
    color: #fff;
    background: var(--btn-background);
    text-decoration: none;
    display: block;
    padding-bottom: 0.125rem;
    margin-bottom: 0.4rem;
    padding: 0.5rem;
    border-radius: 0.35rem;
    transition: .25s;
}

a:hover {
    background: var(--btn-background-hover);
}

footer {
    position: absolute;
    font-size: 12px;
    text-align: center;
    height: 2.5rem;
    width: 100%;
    bottom: 0;
}